<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - Atualizar</title>
</head>
<body>
    <h1>Atualizar</h1><br>
    <form action="/clientes/salvar" method="post">
        <input type="text" name="id" id="id" th:value="${cliente.id}">
        <span>Nome: <input type="text" name="nome" id="nome" th:value="${cliente.nome}"></span>
        <span>Sobrenome: <input type="text" name="sobrenome" id="sobrenome" th:value="${cliente.sobrenome}"></span>
        <span>Idade: <input type="number" name="idade" id="idade" th:value="${cliente.idade}"></span>
        <input type="submit" value="Salvar">
    </form>
    <a href="/clientes">Lista</a>
</body>
</html>