<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - Lista</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th></th>
            </tr>
        </thead>
        <tbody th:each = "c : ${clientes}">
            <td th:text = "${c.id}"></td>
            <td th:text = "${c.nome}"></td>
            <td th:text = "${c.sobrenome}"></td>
            <td th:text = "${c.idade}"></td>
            <td>
                
            </td>
        </tbody>
    </table>
</body>
</html>